.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  font-family: 'Monoton', cursive;
  font-size: 25px;
  margin-bottom: 1%;
}

#video-container {
  min-width: 100%;
}

#chat-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
}

.chat-component {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-btns {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-text p {
  margin-bottom: 1%;
}

.welcome-button {
  min-width: 75vw;
  padding: 3%;
  border-radius: 10px;
  border: solid 1.5px white;
  margin-bottom: 6%;
}

a {
  font-size: 30pt;
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

@media only screen and (min-width: 600px) {
  header {
    font-size: 40px;
  }
  #video-container {
    min-width: 640px;
    min-height: 360px;
  }
  #chat-container {
    width: 640px;
  }
  #welcome-text {
    font-size: 24px;
  }
  .welcome-button {
    min-width: 0;
    width: 300px;
  }
  .video-js {
    border-radius: 15px;
  }
}
