.App {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

header {
  font-family: 'Monoton', cursive;
  font-size: 25px;
  margin-bottom: 1%;
}

#video-container {
  min-width: 100%;
}

#interactive-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 1%;
  padding-top: 1%;
  padding-bottom: 1%;
  min-width: 100%;
}

.interactive-component {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auth-btns {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#welcome-text p {
  margin-bottom: 1%;
}

.auth-button {
  min-width: 75vw;
  padding: 3%;
  border-radius: 8px;
  border: solid 1.5px white;
  margin-bottom: 6%;
  background-color: rgb(32, 33, 36);
  color: white;
}

#create-account {
  width: 100%;
}

#create-account-text {
  padding: 10px 0 10px 0;
}

#create-account-form-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form-item {
  width: 100%;
}

.form-label {
  text-align: left;
  margin-bottom: 5px;
}

.form-input {
  height: 30px;
  border: none;
  margin-bottom: 20px;
  background-color: whitesmoke;
}

.form-button {
  min-width: 75vw;
  padding: 3%;
  border-radius: 8px;
  border: solid 1.5px white;
  margin-bottom: 6%;
  background-color: rgb(32, 33, 36);
  color: white;
  font-size: 14px;
}

a {
  font-size: 30pt;
  text-decoration: none;
  color: white;
}

a:visited {
  text-decoration: none;
  color: white;
}

@media(hover: hover) {
  .auth-button:hover {
    cursor: pointer;
    background-color: white;
    color: rgb(32, 33, 36);;
  }
}


@media only screen and (min-width: 600px) {
  header {
    font-size: 40px;
  }
  #video-container {
    min-width: 640px;
    min-height: 360px;
  }
  #chat-container {
    width: 640px;
  }
  #welcome-text {
    font-size: 24px;
  }
  .auth-button {
    min-width: 0;
    width: 300px;
  }
}
